<nav class="site-nav">
  <div class="logo">
    Logo
  </div>
  <div class="links">
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
     <a href="/contact">Contact Me</a>

  </div>
</nav>